.pasos {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $white;
    cursor: pointer;
    @extend .rounded;
    @extend .shadow-sm;
    border: 2px solid $white;
    &:hover {
        border-color: $primary;
    }
    &.completado {
        border-color: $success;
    }
}

.modal-loading {
    display: none;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 65px;
    bottom: 0;
    z-index: 100;
    background-color: white;
    transition: all 0.1s;
    &.cargando {
        display: flex;
    }
    &.cargado {
        opacity: 0;
    }
}

.menu-sticky {
    position: sticky;
    z-index: 100;
    background: #faf9f9;
    border-bottom: 1px solid $gray-100;
    top: 0px;
}
.d-relative {
    position: absolute;
    top: 78px;
    z-index: 50000;
    padding: 0 24px 0 10px;
    width: 100%;
    &.error {
        .icono {
            display: block;
        }
    }
}

.cabecera-nav {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 2.5rem;
    width: 25%;
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        border-bottom: 2px solid $primary;
        opacity: 0.2;
        width: 100%;
        position: absolute;
        top: 1rem;
        left: 50%;
        transition: opacity 0.2s ease 0s;
    }
    &:last-child::before {
        border-bottom: none;
    }

    &.active {
        & > .circle {
            background-color: $primary;
        }
    }
}

.circle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 1.625rem;
    height: 1.625rem;
    position: absolute;
    top: 0.25rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    left: 50%;
    margin-left: -0.8125rem;
    z-index: 2;
    background: $gray-600;
    border-radius: 50%;
    transition: margin-left 0.2s ease 0s, width 0.2s ease, height 0.2s ease,
        background 0.2s ease, margin-top 0.2s ease;
}

.esquema {
    border: 2px solid $light;
    &.activo {
        border: 2px solid $primary;
        &::before {
            font-family: bootstrap-icons !important;
            content: "\F195";
            position: absolute;
            right: -4px;
            top: -19px;
            text-align: left;
            border-radius: 6px;
            padding: 5px 10px;
            font-size: 32px;
        }
    }
}

.sellos .activo {
    color: $primary !important;
    &.M {
        color: $info;
    }
    &.S {
        color: $success;
    }
    &::before {
        font-family: bootstrap-icons !important;
        content: "\F195";
        position: absolute;
        right: -4px;
        top: -19px;
        text-align: left;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 32px;
    }
}

.boton .hover {
    position: fixed;
    bottom: 20px;
}

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
