
.card-notify-badge {
    position: absolute;
    left: -10px;
    top: 10px;
    background: $primary;
    text-align: left;
    border-radius: 6px;
    color:white;
    padding: 5px 10px;
    font-size: 14px;

}
