body.bs-overflow {
  overflow-y: hidden;
}

.bs-canvas-overlay {
  z-index: -1;
  display: none;
}

.bs-canvas-overlay.show {
  display: block;
  opacity: 0.25;
  z-index: 1035;
}

.bs-canvas {
  background-color: white;
  padding: 40px;
  top: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

.bs-canvas-right {
  right: 0;
  margin-right: -100vw;
}

@media (min-width: 960px) {
  .bs-canvas {
    width: 500px;
    padding: 40px 40px;
  }
  .bs-canvas-left {
    left: 0;
    margin-left: -500px;
  }
  .bs-canvas-right {
    right: 0;
    margin-right: -500px;
  }
}

.bs-canvas-anim {
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
}
