
/* -- main content -- */
.content-container {
  position: relative;
  z-index: 0;
  // padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

/* -- Slideout Sidebar -- */

#sidebar {

transition: all 300ms ease-in-out;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid rgba(234,234,234,1);
  // color: rgba(244,244,244,0.7);
}

#sidebar ul li:last-child {
  border-bottom: 0;
}

#sidebar ul li:hover {
  background-color: rgba(244,244,244,1);
}

/* -- Menu Icon -- */

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

#sidebar{
	&.active{
		// background-color: red;
		left: 0px;
	}
}

/*-- The Magic --*/
 .active ~ #sidebar {
  left: 0px;
}

#menu-toggle .active + .menu-icon {
  left: 210px;
}

#menu-toggle .active ~ .content-container {
  padding-left: 190px;
}

/* -- Media Queries -- */

@media (max-width: 991px) {

  .content-container {
    max-width: 480px;
  }

}

@media (max-width: 767px) {

  .content-container {
    max-width: 100%;
    margin: 30px auto 0;
  }
	#sidebar{
	position: fixed;
    top: 0;
    left: -458px;
    z-index: 1500;
    /* width: 179px; */
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid black;
    color: white !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	}

  #menu-toggle:checked ~ .content-container {
    padding-left: 0;
  }

  #sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }

  .menu-icon {
    left: 20px
  }

  #menu-toggle:checked ~ #sidebar {
    width: 100%;
  }

  #menu-toggle:checked + .menu-icon {
    left: 87%;
    color: #fafafa;
  }

  @media screen
    and (max-width: 736px)
    and (orientation: landscape) {

      #sidebar {
        padding: 0;
				// border-color: blue;
      }

      #sidebar ul {
        max-width: 100%;
        margin: 60px auto 0;
      }

      #sidebar ul li {
        display: inline-block;
        border-bottom: 0;
        width: 72px;
        padding: 18px 24px;
        margin: 0 6px 12px;
        color: #ffffff;
        background-color: #777;
      }

  }

}
