!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    /* margin-left: -15rem; */
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}



#mobile-menu {
    position: fixed;
    display: none;
    top:0;
    bottom: 0;
    min-width: 100vw;
    padding: 1rem 2rem;
    background-color: #000000d7;

    z-index: 9999;
    margin-top: 3.6rem;
    transition: all 0;
    & .list-group{
        background-color: blue;
    }
}

#mobile-menu #sidebar-wrapper {
    /* margin-left: 0; */
}
#mobile-menu.toggled{
    display: block;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #mobile-menu {
        min-width: 0;
        width: 100%;
    }

    #mobile-menu.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}