$btn-size: 50px;
$icons-size: 30px;

.social-btn {
    text-decoration: none !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $btn-size;
    height: $btn-size;
    position: relative;
    margin: 10px;
    // background: #fff;
    font-size: 26px;
    border-radius: 6px;
    // transition: transform 0.08s linear;
    // transform: rotate(45deg);
    overflow: hidden;
    i {
        font-size: $icons-size;
        z-index: 15;
        margin: 0;
        padding: 0;
        transition: transform 0.08s ease-in-out;
        // transform: rotate(-45deg);
    }

    &:hover {
        transform: rotate(0);
        i {
            transform: scale(1.2);
        }
        &:after {
            transform: rotate(0deg);
            top: 0%;
            left: 0%;
        }
    }
}

.social-btn.facebook {
    color: #fff;
    background: #3b5998;
    &:hover {
        color: #ffffff;
    }
}
.social-btn.instagram {
    color: #fff;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );

    &:hover {
        color: #fff;
    }
}
.header-social .fa-instagram {
    background: #d6249f;
}
