<template>
    <div class="modal " tabindex="-1" id="modal-pedido">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pedido {{ pedido.id }}</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pedido-component v-bind:pedido="pedido"></pedido-component>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-primary">
                        cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    props: ["pedido"],
    methods: {},
    computed: {},
    created() {}
};
</script>
