<template>
    <div class="row">
        <div id="datos" class=" col-12 col-md-4 mb-3 pt-2">
            <p class="">
                {{ pedido.cliente.first_name + " " + pedido.cliente.last_name }}
            </p>
            <p>{{ pedido.dia + " " + pedido.created_at }}</p>
            <p>$ {{ pedido.total }}</p>
            <p>PAGADO</p>
            <p>EN PRODUCCION</p>
            <p>NO ENVIADO</p>
        </div>

        <div id="comanda" class="col-12 col-md-8">
            <ul class="list-group list-group-flush">
                <li
                    class="list-group-item"
                    v-for="item in pedido.carrito"
                    v-bind:key="item.id"
                >
                    <div class="d-flex">
                        <div>
                            {{ item.quantity }} -
                            {{ item.associatedModel.nombre }}
                        </div>
                        <div class="ml-auto">${{ item.price }}</div>
                    </div>

                    <div
                        v-if="
                            item.associatedModel.tipo_personalizable ===
                                'arma-tu-set'
                        "
                    >
                        <span
                            v-for="sello in item.attributes.sellos"
                            v-bind:key="sello.id"
                            >{{ sello.nombre }} -
                        </span>
                    </div>

                    <div v-else>
                        <div v-for="(key, value) in item.attributes">
                            {{ value + ": " + key }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="botonera" class="col-12 mt-3 border-top pt-3">
            <a href="" class="btn btn-outline-dark">Guardar Comanda</a>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    props: ["pedido"],
    methods: {},
    computed: {},
    created() {}
};
</script>
