<template>
    <div>
        <ul class="list-group list-group-flush">
            <pedido-item-component
                v-for="pedido in pedidos"
                v-bind:key="pedido.id"
                v-bind:pedido="pedido"
                @mostrar-pedido="onMostrarPedido"
            ></pedido-item-component>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            pedidos: [],
            pedidoSeleccionado: []
        };
    },
    props: {},
    methods: {
        onMostrarPedido: function(pedido) {
            let _this = this;
            let newLocation = "pedidos/" + pedido.pedido_id;
            document.location.href = newLocation;
        }
    },
    computed: {},
    created() {
        let _this = this;
        axios
            .get("getPedidos", {
                params: {
                    orderBy: "created_at",
                    sortedBy: "DESC"
                }
            })
            .then(function(response) {
                _this.pedidos = response.data.data;
                console.log(response.data.data[0]);
            })
            .catch(function(error) {
                console.log(error);
            });
    }
};
</script>
