<template>
    <li class="list-group-item list-group-item-action " @click="mostrarPedido">
        <div class="d-flex align-items-center ">
            <div class="mr-3 text-dark">Nº {{ pedido.pedido_id }}</div>
            <div class="mr-4">
                <p class=" mb-0">
                    {{
                        pedido.cliente.first_name +
                            " " +
                            pedido.cliente.last_name
                    }}
                </p>
            </div>

            <div id="acciones">
                <a href=""><i class="bi bi-envelope"></i> </a>
            </div>

            <div class=" ml-auto text-right  ml-3" id="precio">
                <div class="" id="fecha">
                    <small>{{ pedido.dia + " " + pedido.created_at }}</small>
                </div>
                ${{ pedido.total }}
            </div>
        </div>
    </li>
</template>

<script>
export default {
    data() {
        return {};
    },
    props: ["pedido"],
    methods: {
        mostrarPedido: function() {
            this.$emit("mostrar-pedido", this.pedido);
        }
    },
    computed: {},
    created() {}
};
</script>
