<template>
    <div>
        <div class="input-group my-3" v-show="showForm">
            <input
                type="number"
                v-model="codigoPostal"
                class="form-control"
                placeholder="Código Postal"
                aria-label="Código Postal"
                aria-describedby="codigopostal"
            />
            <div class="input-group-append">
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    v-on:click.prevent="calcularenvio()"
                >
                    CALCULAR
                </button>
            </div>
        </div>

        <p v-show="error" class="form-text text-center text-muted">
            El codigo postal no existe!
        </p>

        <!-- {{ envio.resultados }} -->
        <div class="list-group">
            <div
                v-for="(value, key) in opcionesEnvio"
                :key="key.id"
                class="list-group-item py-4 tipo-envio"
                data-envio="{key.id}"
                v-on:click="selectTipoEnvio(key, value[0])"
                :class="{
                    activ1e: key === tipoEnvio,
                    'list-group-item-action ': seleccionable
                }"
            >
                <div class="row">
                    <div class="col-1" v-show="seleccionable">
                        <i
                            class="bi "
                            :class="[
                                key === result.tipoEnvio
                                    ? 'text-primary bi-check-circle-fill'
                                    : ' bi-circle'
                            ]"
                        ></i>
                    </div>

                    <div class="col-3 col-md-2">
                        <img
                            :src="'/imagenes/logos-iconos/oca.png'"
                            height="25"
                            alt="Envios por Oca"
                            class="img-fluid"
                        />
                    </div>

                    <div class="col">
                        <p class="mb-0">Envio a {{ key }}</p>
                        <small class="text-muted ">Pago en destino</small>
                    </div>

                    <div class="col">
                        <span class="float-right d-inline"
                            >$ {{ value[0].Precio }}
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="list-group-item"
                v-if="
                    opcionesEnvio['sucursal'] &&
                        opcionesEnvio['sucursal']['sucursales']
                "
            >
                <div class="col-12">
                    <div class="input-group">
                        <select
                            name="sucur"
                            id="sucur"
                            data-required="1"
                            class="custom-select"
                            @change="cambioSucursal($event.target.value)"
                        >
                            <option
                                v-for="(sucu, index) in opcionesEnvio[
                                    'sucursal'
                                ]['sucursales']"
                                :key="sucu['idCentroImposicion']"
                                :value="index"
                            >
                                {{
                                    sucu["Localidad"] +
                                        " -  " +
                                        sucu["Calle"] +
                                        " Nº " +
                                        sucu["Numero"]
                                }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            codigoPostal: "",
            opcionesEnvio: "",
            tipoEnvio: "",
            showForm: true,
            error: false,
            result: {
                tipoEnvio: "",
                tipoEnvioDatos: "",
                sucursalElegida: 0,
                sucursalDatos: ""
            }
        };
    },
    props: { seleccionable: Boolean },
    methods: {
        cambioSucursal(e) {
            console.log(e);
            this.result.tipoEnvio = "sucursal";

            this.result.sucursalElegida = this.opcionesEnvio.sucursal[
                "sucursales"
            ][e];
            this.$emit("eventoenvio", this.result);
        },
        selectTipoEnvio(envio, datos) {
            if (envio === "sucursal") {
                this.result.sucursalDatos = this.opcionesEnvio.sucursal[
                    "sucursales"
                ][this.result.sucursalElegida];
            }
            this.result.tipoEnvio = envio;
            this.result.tipoEnvioDatos = datos;
            this.$emit("eventoenvio", this.result);
        },
        calcularenvio() {
            sessionStorage.setItem("codigo_postal", this.codigoPostal);
            let _this = this;
            axios
                .get("/api/enviofede", {
                    params: {
                        cp: this.codigoPostal
                    }
                })
                .then(function(response) {
                    _this.error = false;
                    _this.opcionesEnvio = response.data.respuesta;
                    sessionStorage.setItem(
                        "opciones_envio",
                        JSON.stringify(response.data.respuesta)
                    );
                })
                .catch(function(error) {
                    _this.error = true;
                    console.log(error);
                });
        }
    },
    computed: {
        sucursal: function() {
            let response = document.getElementById("sucur").value;
            return response;
        }
    },
    created() {
        let codigoPostal = sessionStorage.getItem("codigo_postal");
        let resultados = sessionStorage.getItem("opciones_envio");

        if (codigoPostal) {
            this.codigoPostal = codigoPostal;
        }

        if (resultados) {
            this.opcionesEnvio = JSON.parse(resultados);
            // this.envio.sucursales = this.envio.resultados.sucursal.sucursales;
        }
    }
};
</script>
