$white: #faf9f9 !default;
$gray-100: #f0eced !default;
$gray-200: #e5dfe0 !default;
$gray-300: #dad0d2 !default;
$gray-400: #cec0c2 !default;
$gray-500: #c0aeb1 !default;
$gray-600: #b09a9e !default;
$gray-700: #988487 !default;
$gray-800: #78686a !default;
$gray-900: #463c3e !default;
$black: #463c3e !default;

$red: #f78197 !default;

$orange: #f5824c !default;
$yellow: #f5d64c !default;
$green: #98c33c !default;
$teal: #9df9bb !default;
$cyan: #97d9f9 !default;
$blue: #4cbff5 !default;
$indigo: #4c6bf5 !default;
$purple: #824cf5 !default;
$pink: #f54cbf !default;

$body-bg: $gray-100;
$body-color: $gray-700;

$primary: $red !default;
$secondary: $teal !default;
$success: $green !default;
$info: $cyan !default;

$light: $gray-200 !default;
$dark: $gray-800 !default;

// @font-face {
//     font-family: 'jelleebold';
//     src: url('../fonts/jellee-roman-webfont.woff2') format('woff2'),
//          url('../fonts/jellee-roman-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&family=Nunito:wght@600&display=swap');

// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

$font-family-headings: "Nunito", cursive;
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-weight-normal: normal;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.8;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;
// $headings-margin-bottom: ($spacer / 2);
$headings-font-family: $font-family-headings;
$headings-font-weight: 700;
// Bootstrap and its default variables
$border-radius: 0.6rem !default;
// $input-border-radius: 0px;

// Sellos

.sello-numero {
    font-weight: 800;
    bottom: 0;
    text-align: center;
    width: 100%;
    right: 0;
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: #f78197;

    &.M {
        background-color: $info;
    }
    &.S {
        background-color: $success;
    }
}

body {
    scroll-behavior: smooth;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}

.menu-sticky {
    position: sticky;
    z-index: 100;
    background: #faf9f9;
    border-bottom: 1px solid $gray-100;
    top: 0px;
}

::-moz-selection {
    color: white;
    background: $primary;
}
::selection {
    color: white;
    background: $primary;
}
img::selection {
    background: none;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.breadcrumb {
    background-color: transparent !important;
}

.btn.btn-success,
.btn.btn-primary {
    color: WHITE !important;
}

// // @import "dashboard.scss";<
@import "inc/cards.scss";

@import "inc/imgloader.scss";
@import "inc/socialicons.scss";
@import "inc/carrito.scss";
@import "inc/arma-tu-set.scss";

// @import "inc/simple-sidebar.css";

// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@import "~bootstrap-icons/font/bootstrap-icons.css";
